<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="post">
        <form action="/add" method="post">
            <label for="author">Author:</label>
            <input type="text" name="author" id="author" value="Max Mustermann" required>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" value="A new title" required>
            <label for="content">Content:</label>
            <textarea name="content" id="content" rows="5" required>Your content goes here!</textarea>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>
</html>